body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

#gameCanvas {
    width: 400px;
    height: 400px;
    border: 1px solid #fff;
}

.paddle {
    height: 100px;
    width: 10px;
    background-color: yellow;
}

.ball {
    height: 10px;
    width: 10px;
    background-color: red;
}

#playerScore, #aiScore {
    position: absolute;
    top: 10px;
    font-size: 20px;
    color: #fff;
}

#playerScore {
    left: 10px;
}

#aiScore {
    right: 10px;
}